@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    font-family: "Vollkorn SC", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("restaurant-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.navs a {
    color: #fff;
    text-decoration: none;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0 20px;
}

.header .title {
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
}

.main {
    display: flex;
    align-items: center;
    background-color: azure;
    padding: 1rem;
}