@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url("restaurant-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.container {
    width: 80%;
    display: flex;
    margin: auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    color: #fff;
    padding: 10px 30px;
}

.navs a {
    color: #fff;
    text-decoration: none;
}

.main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.276);
    color: #fff;
}